<theme>
<formatVersion>7</formatVersion>
<variables>

<x.gamecarousel.size>0.29 1</x.gamecarousel.size>
<x.gamecarousel.pos>-0.035 -0.37</x.gamecarousel.pos>
<x.gamecarousel.logoRotation>-4.5</x.gamecarousel.logoRotation>
<x.gamecarousel.logoRotationOrigin>-6 0.5</x.gamecarousel.logoRotationOrigin>
<x.back_gamecarousel.color>ffffff</x.back_gamecarousel.color>
<x.back_gamecarousel.colorEnd>00000000</x.back_gamecarousel.colorEnd>
<x.back_gamecarousel.pos>0 -0.87</x.back_gamecarousel.pos>

<x.frame.color>ffffff</x.frame.color>
<skin.covers.fix>16x9</skin.covers.fix>

</variables>

<variables ifSubset="screen ratio:169">

<x.snap.pos>0.225 0.32</x.snap.pos>
<x.snap.size>0.548 0.529</x.snap.size>
<x.snapcenter.pos>0.501 0.573</x.snapcenter.pos>

<x.controller.pos>0.81 0.99</x.controller.pos>

<x.logostatic.pos>0.5 0.11</x.logostatic.pos>
<x.logostatic.maxSize>0.41 0.20</x.logostatic.maxSize>

<x.marquee.pos>0.5 0.11</x.marquee.pos>
<x.marquee.maxSize>0.4 0.20</x.marquee.maxSize>

<x.arcade.md_thumbnail.pos>0.77 0.8</x.arcade.md_thumbnail.pos>

<x.arcade.md_rating.pos>0.715 0.81</x.arcade.md_rating.pos>

</variables>

<variables ifSubset="screen ratio:43">
<x.gamecarousel.size>0.3 1</x.gamecarousel.size>
<x.gamecarousel.pos>-0.015 -0.33</x.gamecarousel.pos>
<x.gamecarousel.logoRotation>-4.5</x.gamecarousel.logoRotation>
<x.gamecarousel.logoRotationOrigin>-6 0.5</x.gamecarousel.logoRotationOrigin>
<x.back_gamecarousel.color>ffffff</x.back_gamecarousel.color>
<x.back_gamecarousel.colorEnd>00000000</x.back_gamecarousel.colorEnd>
<x.back_gamecarousel.pos>0 -0.83</x.back_gamecarousel.pos>
<x.snap.pos>0.225 0.36</x.snap.pos>
<x.snap.size>0.548 0.39</x.snap.size>
<x.snapcenter.pos>0.501 0.554</x.snapcenter.pos>

<x.controller.pos>0.81 0.87</x.controller.pos>

<x.logostatic.pos>0.5 0.17</x.logostatic.pos>
<x.logostatic.maxSize>0.41 0.25</x.logostatic.maxSize>

<x.marquee.pos>0.5 0.17</x.marquee.pos>
<x.marquee.maxSize>0.4 0.20</x.marquee.maxSize>

<x.arcade.md_thumbnail.pos>0.77 0.725</x.arcade.md_thumbnail.pos>

<x.arcade.md_rating.pos>0.705 0.73</x.arcade.md_rating.pos>

</variables>

</theme>