<theme>
<formatVersion>7</formatVersion>
<variables>

<x.gamecarousel.size>0.29 1</x.gamecarousel.size>
<x.gamecarousel.pos>-0.035 -0.35</x.gamecarousel.pos>
<x.gamecarousel.logoRotation>-4.5</x.gamecarousel.logoRotation>
<x.gamecarousel.logoRotationOrigin>-6 0.5</x.gamecarousel.logoRotationOrigin>
<x.back_gamecarousel.color>ffffff</x.back_gamecarousel.color>
<x.back_gamecarousel.colorEnd>00000000</x.back_gamecarousel.colorEnd>
<x.back_gamecarousel.pos>0 -0.85</x.back_gamecarousel.pos>

<layout.snap.overlay>no</layout.snap.overlay>																				
<layout.extend.overlay>no</layout.extend.overlay>
<x.frame.color>ffffff</x.frame.color>
<skin.covers.fix>3x2</skin.covers.fix>

</variables>

<variables ifSubset="screen ratio:169">

<x.snap.pos>0.27 0.325</x.snap.pos>
<x.snap.size>0.455 0.512</x.snap.size>
<x.snapcenter.pos>0.4988 0.5736</x.snapcenter.pos>

<x.arcade.md_thumbnail.pos>0.72 0.8</x.arcade.md_thumbnail.pos>

<x.arcade.md_rating.pos>0.665 0.81</x.arcade.md_rating.pos>

</variables>

<variables ifSubset="screen ratio:43">

<x.snap.pos>0.27 0.37</x.snap.pos>
<x.snap.size>0.455 0.379</x.snap.size>
<x.snapcenter.pos>0.4988 0.554</x.snapcenter.pos>

<x.arcade.md_thumbnail.pos>0.72 0.72</x.arcade.md_thumbnail.pos>

<x.arcade.md_rating.pos>0.655 0.725</x.arcade.md_rating.pos>

</variables>

</theme>