<theme>
<formatVersion>7</formatVersion>
<variables>
<x.gamecarousel.size>0.38 1</x.gamecarousel.size>

<layout.snap.overlay>no</layout.snap.overlay>																				
<layout.extend.overlay>no</layout.extend.overlay>
<x.frame.color>ffffff</x.frame.color>
<skin.covers.fix>4x3</skin.covers.fix>

</variables>

<variables ifSubset="screen ratio:169">

<x.snap.pos>0.305 0.3075</x.snap.pos>
<x.snap.size>0.389 0.53</x.snap.size>
<x.snapcenter.pos>0.4995 0.5765</x.snapcenter.pos>
<x.controller.pos>0.77 0.99</x.controller.pos>


</variables>

<variables ifSubset="screen ratio:43">

<x.snap.pos>0.305 0.355</x.snap.pos>
<x.snap.size>0.389 0.395</x.snap.size>
<x.snapcenter.pos>0.4995 0.5565</x.snapcenter.pos>
<x.controller.pos>0.77 0.86</x.controller.pos>


</variables>



</theme>