<theme>
<formatVersion>7</formatVersion>
<variables>
<x.gamecarousel.size>0.28 1</x.gamecarousel.size>


<x.frame.color>ffffff</x.frame.color>

</variables>

<variables ifSubset="screen ratio:169">

<x.snap.size>0.55 0.539</x.snap.size>
<x.snapcenter.pos>0.499 0.578</x.snapcenter.pos>


</variables>

<variables ifSubset="screen ratio:43">

<x.snap.size>0.547 0.398</x.snap.size>


</variables>

</theme>